/* src/App.css */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.5em;
}

.buttons {
  margin: 20px;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.yes-button {
  background-color: green;
  color: white;
}

.yes-button:hover {
  background-color: darkgreen;
}

.no-button {
  background-color: red;
  color: white;
}

.no-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.accepted-message {
  margin-top: 20px;
  font-size: 1.5em;
  color: lightgreen;
}

.error-message {
  margin-top: 20px;
  font-size: 1.5em;
  color: #ff4d4d;
}
